body {
  font-family: $font-main, sans-serif;
  line-height: 1.6;
  font-weight: 400;
}


///////////
// Nav bar
.navigation {
  font-size: 2.4rem;

  .search {
    &__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }
  }
}


////////////////////////////
// Store Categories Section
.categories {
  color: $color-primary;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    letter-spacing: .5px;
  }

  &__container {
    font-size: 1.3rem;
    color: rgba($color-primary, .8);

    span {
      color: $gray-light-3;
    }
  }
}

////////////////////
// Main store home button
.home-btn {
  font-size: 2.5rem;
  text-decoration: none;
  color: $color-primary;
}